@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
}

.titles {
    text-align: center;
}

body {
    background-color: grey;
}

#btn {
    visibility: hidden;
    position: absolute;
    align-items: center;
}

.doglist ul li{
    margin-left: 50px;
    list-style-position: inside;
}

.arrows {
    align-items: center;
}

.arrow-up::after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    margin: auto;
    margin-left: 50%;
    margin-right: 50%;
    border-right: 4px solid rgba(255, 255, 255, 0.8);
    border-bottom: 4px solid rgba(255, 255, 255, 0.8);
    transform: rotate(225deg);
    cursor: pointer;
}